/* External CSS files to style the About page! */

/* 
    Finding: The styling of the indivdiual About page is not 
    overwritten by the styling of the index.css applied 
    for the main.jsx file!
*/
#title{
    color: blue;
    /* background-color: skyblue; */
}

/* h1{
    background-color: lightskyblue;
} */

.content{
    font-size: 25px;
    color: rgb(51, 4, 145);
}

/* 
    When using background-color: inherit property, 
    the background color will be stacked for each children element,
    making a jarring contrast of each children element's background 
    color vs the parent elmement's background color.

    When using background-color: transparent property,
    the background color will be applied the same for each 
    children eleemnt and does NOT stack for each children element.
    So the background color of the parent element and 
    all of the children element will be the same! 

    The color of the text, the color property, is automatically
    inherited by each children element, so no further action is needed.
    However, for CSS properties that are not automatically inherited
    like background-color, make sure to set their properties to transparent!
*/
.content * {
    background-color: transparent;
}