/* External CSS files to style the Home page! */

/* 
    Finding: The style applied for the Home component is also 
    applied for the About and Process components too, even if 
    there is no other background color specified in the External 
    CSS files for About and the Process component in their 
    respective About.jsx and Process.jsx files!

    Apparently, the styling can apply to all subcomponents 
    when the background color matches the specific selector 
    (element selector, class selector, and/or id selector)
*/

/* 
    Including another h1 selector with a different background color in About.css file,
    overrides this h1 lightcoral background color, regardless of order of importing and exporting components!
*/
h1{
    background-color: lightyellow;
}


/*
    Observation: I can influence the color of the HomeTitle component 
    from this Home.css file even though it's only imported in 
    Home.jsx file!
*/
h2{
    background-color: lightgreen;
}

/* 
    Theory: 
    1) Home.jsx component imports the HomeTitle component, 
    so the HomeTitle component is now encompassed in the Home.jsx component,
    so any applied styling for the Home page now also includes the 
    HomeTitle and all other components imported into Home.jsx file!

    2) The styling applied by Home.css file for the Home component
    are applied to the About and Process components, because they have
    matching h1 element selectors and the styling when imported by 
    App.jsx are also applied to all other components imported by App.jsx
    (which also included About and Process components)!
*/

/* 
    New observation:
    1) Considering that React has a React-DOM that checks for the components that needs to be updated, then
    it will update all the properties of the React components depending on that new change and how recent it was.

    2) When I import Home.css in the Home.jsx file after importing About.css in About.jsx file, the h1 selector in Home.css file
    overrides the h1 selector in the About.css file: making the background color of any h1 element light yellow color.

    3) When I import About.css in the About.jsx file after importing Home.css in Home.jsx file, the h1 selector in the About.css
    file overrrides the h1 selector in the Home.css file: making the background color of any h1 element light blue color. 
*/

/* 
    Solution to get around logic issues with displaying not the right properties:
    1) Use different classes and ids for each component 
    2) Refer to the components-specific classes and ids when designing components-specific sub-components. 
    3) Recognize that the styles for a Component (like Home.css for Home component and About.css for About component 
    are also imported into the higher-level App component, so their selectors get applied to matching selectors for Other 
    React components even if they aren't meant to affect other components' styling.)
*/

#title{
    color: red;
}

.content{
    font-size: 25px;
    color: rgb(71, 5, 225);
    background-color: rgba(88, 255, 116, 0.429);
}

.content * {
    background-color: transparent;
}