/* External CSS file to style the Process page! */
#title{
    color: rgb(2, 98, 90);
}

h1{
    background-color: orange;
}

.content{
    font-size: 25px;
    color: rgb(51, 4, 145);
    background-color: greenyellow;
}